{% extends "layout.html" %}

{% block title %}
    Home APP page
{% endblock %}

{% block Content %}
    <h1>Welcome to the Home app Page</h1>
    <p>This is the content of the home page.</p>
    <p>Feel free to explore our website!</p>
<div class='grid grid-cols-3 gap-4 m-4'>
    
{% for ib in imgs %}
    <div class="bg-purple-950">
        <div class="rounded overflow-hidden shadow-lg">
            <img src="{{ ib.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ ib.name }}</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">{{ ib.date_time_stamp }}</small></p>
            </div>
        </div>
    </div>
{% endfor %}
</div>
    <p>Thank you for visiting our home app page!</p>
    <p>We hope you find what you're looking for.</p>
    <p>If you have any questions, feel free to contact us.</p>

{% endblock %}