{% load tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>
        {% block Title %}
            Chai Aur Code {% comment "For Example" %}{% endcomment %}
            PulseHub
        {% endblock  %}
    </title>
</head>
<body>
    <div class="container">
        {% block content %}
            <!-- Content will be injected here -->
            <h1>Welcome to PulseHub</h1>
            <p>This is the base template for PulseHub.</p>
        {% endblock %}
</body>
</html>
